
/* Landing Page */

.masthead {
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
    min-height: calc(100vh - 56px);
    margin-bottom:0
}

.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 56px);
    width: 100%;
    background-color: #212529;
    opacity:.5
}

/* Header Navigation */ 

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y:hidden
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling:touch
}

/* Formations */

@media (max-width: 770px) { 
    #formation_cover {
        margin-bottom: 2em;
    }
 }