<!DOCTYPE html>
<html lang="fr-FR" prefix="og: http://ogp.me/ns#" >
    <head>

        <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

        {% include meta.html %}
        {% include analytics.html %}
        {% include style.html %}

    </head>

    <body>

        {% include navigation.html %}
        {% include header.html %}

        <main>
            {{ content }}
        </main>
            
        {% include footer.html %}
        {% include js.html %}
        
    </body>

</html>
