---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-2 mx-4 d-none d-lg-block">
      <div class="sticky-top mb-3" style="top: 1.5em;">
        <img class="img-fluid rounded-circle float-right mb-3" src="{{ site.url }}/images/photo-original.jpg" />
        <h3 class="text-right">{{ site.name }}</h3>
        <p class="text-right">
          <small>
            {{ site.description_long }}
          </small>
        </p>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-7">
      {% if page.cover %}
        <img class="img-fluid w-100 rounded shadow" src="{{ site.url }}/{{ page.cover }}">
        <p class="border-bottom my-4 pb-2">
      {% else %}
        <p class="border-bottom mb-4 pb-2">
      {% endif %}
        Par <strong>Bruno</strong>
      </p>
      <article class="mb-3">
          <h1>
            {{ page.title }}
          </h1>
          {% if page.summary %}
            <p class="font-italic">
              {{ page.summary }}
            </p>
          {% endif %}
          <hr />
          <div class="text-justify">
            {{ content }}
          </div>
        </div>
      </article>
    </div>
  </div>
</div>