---
title: Mon Podcast
layout: default
navigation: 0
---

<div class="container">
    <div class="row mb-3">
        <div class="col-3 col-sm-3 col-md-3 col-lg-2 text-center">
            <img class="img-fluid" id="podcast_cover" src="{{ site.url }}/images/podcast/general/logo.jpg">
        </div>
        <div class="col-9 col-sm-9 col-md-9 col-lg-10 my-auto">
            <h2 id="podcast_author" class="text-muted">{{ site.author }}</h2>
            <h1 id="podcast_title">{{site.podcast_title}}</h1>
            <p class="mb-0">{{ site.podcast_description }}</p>
        </div>
    </div>
</div>

<div class="container border-top">
    {% for post in site.posts %}
        {% if post.category == "Podcast" %}
            {% if forloop.first %}
                <div class="row h-100">
            {% else %} 
                {% if forloop.last %}
                    <div class="row h-100 border-top mb-3">
                {% else %}
                    <div class="row h-100 border-top">
                {% endif %}
            {% endif %}
                <div class="col-10 p-2">
                    <p class="text-muted text-uppercase small font-weight-bold mb-0 mt-1">{{post.date | date: '%B %d, %Y' }}</p>
                    <h6 class="my-1">{{ post.title }}{% if post.subtitle %} - {{post.subtitle}}{% endif %}</h6>
                    <p class="text-justify text-muted small mb-1">
                        {{ post.summary }} 
                    </p>
                    <p class="pt-1 mb-0">
                        <a class="stretched-link" href="{{ site.url }}{{ post.url }}">Détail ...</a>
                    </p>
                </div>
                <div class="col-2 my-auto mr-0 text-center">
                    <p class="mb-1">{{post.duration }}</p>
                    <a href="{{ site.url }}/episodes/{{ post.audio_file }}"><i class="fas fa-cloud-download-alt"></i></a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>